/* FOOTER */

footer {
    /* height: 5rem; */
    background-color: #2f3136;
    text-align: center;
    padding: 2rem;
}

small {
    color: #a6a6a6;
    margin: 2.5rem 0;
}

/* MOBILE ONLY */

@media (max-width: 640px) {

}

/* SMALL */

@media (min-width: 640px) {

}

/* MEDIUM */

@media (min-width: 940px) {

}

/* LARGE */

@media (min-width: 1100px) {
    
}
